*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: aliceblue;
}

.box{
  width: 100px;
  height: 60px;
  margin: 30px;
  border-radius: 10px;
  border: 3px solid #686969;
  cursor: pointer;
  transition: 0.1s all;
}

.box:hover{
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.box-zoom{
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
  
}

.box1{
  background-color: #eccc68;
}


.box2{
  background-color: #7bed9f;
}

.box3{
  background-color: #ff6b81;
}

.box4{
  background-color: #9AECDB;
}

.box5{
  background-color: #F8EFBA;
}